
<!-- hero -->
<section class="hero hero-with-header ">
<div class="image image-overlay image-zoom" style="background-image:linear-gradient( to right bottom,
        rgba(0, 0, 0, 0.3),
        #161c1d  ),url(../../assets/cooodit/cover-2.jpg)"></div>
    <div class="container ">
    
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="text-decorated text-white"> Nos ateliers<b class="text-"> hebdomadaires </b></h1>
          <p class="text-white text-justify"> Nous proposons 6 ateliers hebdomadaires adaptés à l’âge et au niveau de chaque participant, 1h30 d’atelier par semaine, du lundi au vendredi, de janvier à juin. </p>
          
        </div>
      </div>
    </div>    
  </section>
  <!-- / hero -->


<section>
<div class="container">  
 <div class="row justify-content-center">
  <div class="coursestest-container">

<div class="coursetest">
  <div class="coursetest-preview">
    <h6>Ateliers hebdomadaires</h6>
    <h2>CE1/CE2</h2>
    <a href="#">Les mercredis de 15h45 à 17h15.</a>
  </div>
  <div class="coursetest-info">
    <div class="progresstest-container">
      <div class="progresstest"></div>
      <span class="progresstest-text">
        8 places disponibles
      </span>
    </div>
    <h6><i class="icon-map-marker fs-21 text-green"></i>Campus Pontoise</h6>
    <br>
    <h6>Ateliers hebdomadaires pour enfants en CE1-CE2</h6>
    <br><br>
    <h6><i class="icon-calendar2 fs-21 text-green"></i> Rentrée janvier.</h6>
    <h6>À partir de 59€ / mois</h6>
    
    <a href="<%=hebdo1_path%>" class="btntest">Tout savoir</a>
  </div>
</div>
<br>

<div class="coursetest">
  <div class="coursetest-preview">
    <h6>Ateliers hebdomadaires</h6>
    <h2>CM1/CM2</h2>
    <a href="#">Les mercredis de 15h45 à 17h15.</a>
  </div>
  <div class="coursetest-info">
    <div class="progresstest-container">
      <div class="progresstest"></div>
      <span class="progresstest-text">
        8 places disponibles
      </span>
    </div>
    <h6><i class="icon-map-marker fs-21 text-green"></i>Campus Pontoise</h6>
    <br>
    <h6>Ateliers hebdomadaires pour enfants en CM1-CM2</h6>
    <br><br>
    <h6><i class="icon-calendar2 fs-21 text-green"></i> Rentrée janvier.</h6>
    <h6>À partir de 59€ / mois</h6>
    
    <a href="<%=hebdo1_path%>" class="btntest">Tout savoir</a>
  </div>
</div>

<br>

<div class="coursetest">
  <div class="coursetest-preview">
    <h6>Ateliers hebdomadaires</h6>
    <h2>5/6ème</h2>
    <a href="#">Les mercredis de 15h45 à 17h15.</a>
  </div>
  <div class="coursetest-info">
    <div class="progresstest-container">
      <div class="progresstest"></div>
      <span class="progresstest-text">
        8 places disponibles
      </span>
    </div>
    <h6><i class="icon-map-marker fs-21 text-green"></i>Campus Pontoise</h6>
    <br>
    <h6>Ateliers hebdomadaires pour enfants en 5ème et 6ème.</h6>
    <br><br>
    <h6><i class="icon-calendar2 fs-21 text-green"></i> Rentrée janvier.</h6>
    <h6>À partir de 59€ / mois</h6>
    
    <a href="<%=hebdo2_path%>" class="btntest">Tout savoir</a>
  </div>
</div>

<br>

 
    <div class="coursetest">
    <div class="coursetest-preview">
       <h6>Ateliers hebdomadaires</h6>
       <h2>3/4ème</h2>
       <a href="#">Les mercredis de 17h30 à 19h00.</a>
    </div>
    <div class="coursetest-info">
    <div class="progresstest-container">
      <div class="progresstest"></div>
      <span class="progresstest-text">
        8 places disponibles
      </span>
    </div>
    <h6><i class="icon-map-marker fs-21 text-green"></i>Campus Pontoise</h6>
    <br>
    <h6>Ateliers hebdomadaires pour enfants en 3ème et 4ème.</h6>
    <br><br>
    <h6><i class="icon-calendar2 fs-21 text-green"></i> Rentrée janvier.</h6>
    <h6>À partir de 59€ / mois</h6>
    
    <a href="<%=hebdo3_path%>" class="btntest">Tout savoir</a>
   </div>
</div>

<br>

<div class="coursetest">
<div class="coursetest-preview">
   <h6>Ateliers hebdomadaires</h6>
   <h2>Lycée</h2>
   <h6>Développement web.</h6>
   <a href="#">Les mercredis de 17h30 à 19h00.</a>
</div>
<div class="coursetest-info">
<div class="progresstest-container">
  <div class="progresstest"></div>
  <span class="progresstest-text">
    8 places disponibles
  </span>
</div>
<h6><i class="icon-map-marker fs-21 text-green"></i>Campus Pontoise</h6>
<br>
<h6>Ateliers hebdomadaires pour les lycéens.</h6>
<br><br><br><br>
<h6><i class="icon-calendar2 fs-21 text-green"></i> Rentrée janvier.</h6>
<h6>À partir de 59€ / mois</h6>

<a href="<%=hebdo4_path%>" class="btntest">Tout savoir</a>
</div>
</div>

<br>

<div class="coursetest">
<div class="coursetest-preview">
   <h6>Ateliers hebdomadaires</h6>
   <h2>Lycée</h2>
   <h6>Intelligence Artificielle.</h6>
   <a href="#">Les mercredis de 17h30 à 19h00.</a>
</div>
<div class="coursetest-info">
<div class="progresstest-container">
  <div class="progresstest"></div>
  <span class="progresstest-text">
    8 places disponibles
  </span>
</div>
<h6><i class="icon-map-marker fs-21 text-green"></i>Campus Pontoise</h6>
<br>
<h6>Ateliers hebdomadaires pour les lycéens.</h6>
<br><br><br><br>
<h6><i class="icon-calendar2 fs-21 text-green"></i> Rentrée janvier.</h6>
<h6>À partir de 59€ / mois</h6>

<a href="<%=hebdo5_path%>" class="btntest socials">Tout savoir</a>
</div>
</div>



  </div>
 </div>
</div>

</section>

  <!-- partners -->
<br>
      <div class="container">
        <div class="row">
          <div class="col partners align-items-center">
            <div class="owl-carousel" data-items="[6,4,2]" data-loop="true" data-autoplay="true">
              <div class="logo">
                <img src="../../assets/cooodit/logo-1.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-2.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-3.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-4.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-5.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-6.svg" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-7.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-8.png" alt="Logo">
              </div>
              <div class="logo">
                <img src="../../assets/cooodit/logo-9.png" alt="Logo">
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
    <!-- / partners -->