<!-- footer -->
<footer class="bg-dark text-white">

  <div class="container ">
    <div class="row">
      <div class="col-lg-4">
        <div class="mb-1">
          <img class="logo-sm" src="../../assets/cooodit/test-logo.png" alt="Logo">
        </div>
        <span class="copyright-text">&copy; 2019 Cooodit | Tous droits réservés.</span>
      </div>
      <div class="col col-lg-2">
        <ul class="list-group list-group-minimal">
          <li class="list-group-item"><a href="<%=campus_path%>">Nos Campus</a></li>
          <li class="list-group-item"><a href="http://cooodit.eventbrite.com">Nos Events</a></li>
          <li class="list-group-item"><a href="https://www.indeedjobs.com/cooodit">L’équipe : on recrute !</a></li>
          
        </ul>
      </div>
      <div class="col col-lg-2">
        <ul class="list-group list-group-minimal">
          <!--<li class="list-group-item"><a href="https://cooodit.typeform.com/to/DBPD25">Contact</a></li>-->
          <li class="list-group-item"><a href="<%=contact_path%>">Contact</a></li>


          <li class="list-group-item"><a href="<%=faq_path%>">Foire Aux Questions</a></li>
          <li class="list-group-item"><a href="<%=cdv_path%>">Conditions De Vente</a></li>
          <li class="list-group-item"><a href="<%=legal_path%>"> Mentions Légales</a></li>
          <li class="list-group-item"><a href="<%=cookie_path%>"> Politique Cookies</a></li>
        </ul>
      </div>
      <div class="col-lg-4 text-lg-right">
          <ul class="list-group list-group-minimal">
              <li class="list-group-item"><a href="">Un coup de fil ?</a></li>
              <li class="list-group-item"> <a href="tel:06 67 68 26 93" class="phone bordered">06 67 68 26 93</a> </li>
          </ul>
      </div>
    </div>
  </div>
  <div class="separator-bottom py-5">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <p class="text-white">Pour suivre nos dernières actualités 🗓 échanger avec la communauté 💬 discuter avec nous, nous poster un mot doux 💌 : retrouvez-nous sur nos réseaux ! 👉</p>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <ul class="socials">
            <li><a href="https://fr-fr.facebook.com/cooodit/" class="fab fa-facebook-f  fs-20" target="_blank"></a></li>
            <li><a href="https://www.instagram.com/cooodit/" class="fab fa-instagram  fs-20" target="_blank"></a></li>
            <li><a href="https://twitter.com/cooodit?s=15" class="fab fa-twitter   fs-20" target="_blank"></a></li>
            <li><a href="https://www.linkedin.com/company/cooodit" class="fab fa-linkedin  fs-20" target="_blank"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- / footer -->